@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: RobotoCondensed;
    font-weight: 400;
    src: url("/fonts/static/RobotoCondensed-Regular.ttf") format("truetype");
  }
  @font-face {
    font-family: RobotoCondensed;
    font-weight: 500;
    src: url("/fonts/static/RobotoCondensed-Bold.ttf") format("truetype");
  }
  html {
    font-family: RobotoCondensed;
    font-size: 1.2rem;
  }
}

/* Markdown CSS that cannot be styled with tailwind */
.markdown p {
    margin-bottom: 1rem;
}
